# Ignore node_modules directory
node_modules/

# Ignore built files
build/
dist/

# Ignore environment variables file
.env

# Ignore logs
logs/
*.log

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore dependency lock files
yarn.lock
package-lock.json

# Ignore development server log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore production build files
client/build/
server/build/

# Ignore testing and coverage files
coverage/

# Ignore deployment files
.deploy/

# Ignore miscellaneous files
.DS_Store
Thumbs.db